 
/* Table of Content
==================================================
 

/* Header Styles
================================================== */
#header-bar{background-color: $red;	height: 12px; width: 100%;	}

header{
	background: $tan url("assets/img/SA_headerpattern.jpg");
	height: 260px;
}

.logo{
	padding-top: 20px;
	text-align: center;

	.tagline{
		font: 9px/16px "Oswald", sans-serif;
		letter-spacing: 0.3em;
		color: $cherry_black;
		padding: 10px 0 20px 0;
	}
	& img:hover{
		@include opacity(0.8);
	}
 }

 .header-btns{
 	margin-top: 30px;
 }


/* Navigation Styles
================================================== */

#mainNav{
	border-bottom: 1px solid $cherry_black;
	border-top: 1px solid $cherry_black;
	float:left;
 
   	position:relative;

}
#mainNav ul {
	clear:left;
   	float:right;
   	list-style:none;
   	margin:0;
   	padding:0;
   	position:relative;
   	right:50%;
   	text-align:center;
	
}

#mainNav ul li {
	display:block;
   	float:left;
   	list-style:none;
   	margin:0;
   	padding:0;
   	position:relative;
   	left:50%;
 
}
  
#mainNav ul li a {
	font: 11px/18px "Stint Ultra Expanded", cursive;
	text-transform: uppercase;
	padding: 5px 15px;  
	letter-spacing: 0.08em;
	color: $cherry_black;
	text-decoration: none;
	display: block;
}

#mainNav li:hover {
	cursor: pointer;
}

/* Submenu items */
#mainNav ul ul {
	display:none; 
	position:absolute;
	top:2em;
	left:0;
	right:auto;
	width:10em; 
	z-index: 1000;
}
#mainNav ul ul li {
	left:auto;
	background: rgba(227, 217, 191, 0.99);
	margin:0; 
	clear:left;
	width:100%;
	padding:0px 20px 0px 0px ;
 
}

#mainNav ul ul li a,
#mainNav ul li:hover ul li a{ 
	padding:4px 0px 5px 10px ; 
	font-size:11px;
	text-align:left; 
	line-height:30px;  
	//border-bottom:2px  $cherry_black dashed; 
	&:after{
		content:"";
		 
	    position: absolute;
	    border-bottom:2px  $cherry_black dashed;
	    left: 10px;
	    bottom: 0;
	    width: 50%;
	}
}

 


#mainNav ul ul li a:hover,
#mainNav ul li:hover ul li a:hover{ 
	color:$dark_red;
}

#mainNav ul ul.last {
	left:auto;  
	right:0;  
}

#mainNav ul li:hover ul { 
	display:block;  
}


 
/* Hompage Styles
================================================== */

/* Responsive Slides */
.rslides {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
	z-index: 1;
}

.rslides li {
	-webkit-backface-visibility: hidden;
	position: absolute;
	display: none;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 1;
}

.rslides li:first-child {
	position: relative;
	display: block;
	float: left;
}

.rslides img {
	display: block;
	height: auto;
	float: left;
	width: 100%;
	border: 0;
}

.home-title{
 	position: relative;
	z-index: 2;
	top:-200px;
	text-align: center;


	h2 {color: $cream;}
	 
}


  

 

/* PAGE Styles
================================================== */
.page_content{
	margin-top: 20px;
	 
	h2{
		text-transform: uppercase; 
		color: $red;
		font-weight: normal; 
		border-bottom: 1px solid $red;
		padding-bottom: 4px;
		&:after{
			content:""; 
			width:100%; 
			margin-top: 0px; 
			display:block;
			border-bottom: 1px solid $red ;
			 
		}
	}
}
.page_nav { 
	padding: 15px 15px 40px 15px;
	li{padding-bottom: 6px;}
	li a{color: $red; text-transform: uppercase; font-weight: bold;}
	li a:hover{color: $grey;}
	@include breakpoint(landscape) {
		padding: 15px 15px 15px 15px;       
	}
	@include breakpoint(portrait) {
		padding: 15px 15px 15px 15px;       
	}
}

 
 



/* FOOTER Styles
================================================== */
#footer{
	width: 100%; 
	background-color: $grey;
	margin-top: 80px;
}
.footer{
	padding-top:20px;
	
	.menu {

		ul{
			-moz-column-count: 3;
		    -moz-column-gap: 20px;
		    -webkit-column-count: 3;
		    -webkit-column-gap: 20px;
		    column-count: 3;
		    column-gap: 20px;
		    width: 450px;

		    @include breakpoint(portrait) {
		 		display:none;
			}
			@include breakpoint(landscape) {
		 		display:none;
			}
		}
		li{
			list-style-type: none; 
			font-weight:bold;
			 margin-bottom:18px;  

			ul li {font-weight: normal;margin-bottom:4px; }
	    }
		li a{
			color: #fff;
			&:hover{color: $red}
		}
	}

	h3{text-transform: uppercase; font-weight:bold; font-size:18px; margin-bottom:18px; }
	span.contact{color: $red}
	p a{color:$red;}
	p a:hover{color:$red;}
	a img:hover{@include opacity(0.7); }

	.footer_icon{
		padding-top:140px;
		@include breakpoint(smallscreen) {
 		padding-top: 180px;
		img {max-width:50px; }
		}

		@include breakpoint(landscape) { 
     		padding-top: 10px;
     		img {display:none; }
	    }

		@include breakpoint(portrait) { 
		 	padding-top: 10px;
		 	img {display:none; }
		}

	}
}

.copyright{
	border-top:1px solid $red; 
	padding-top:10px;
	

}
.mesh{
	float:right; margin-top:-38px;
 

		@include breakpoint(landscape) { 
     		margin-top:0px; float:left;
	    }

		@include breakpoint(portrait) { 
		 	margin-top:0px; float:left;
		}

}

/* #Page Styles
================================================== */


 

.leftcol{
 
 
	@include breakpoint(smallscreen) {background-color: #ff0000;}
    @include breakpoint(landscape) {background-color: #1234ff;}
	@include breakpoint(portrait) {background-color: #003366;}
 
}

 




/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


 